.btn-dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.mat-flat-button {
    background-color:#00bfff;
    width: 150px;
    border-radius: 40px;
} 